* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
  }

.title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    & > h1 {
        font-size: 40px;
    }

    & > a {
        color: aliceblue;
        background-color: rgb(61, 136, 80);
        border-radius: 15%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/* Static Design 1*/

.static1 {
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-1 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom right,rgb(245, 196, 106),rgb(224, 197, 147));
    border-top: 3px rgb(175, 129, 43) solid;
    border-bottom: 3px rgb(175, 129, 43) solid;

    & > img.carrot-logo {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav1 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
          font-weight: 600;
          font-size: 17.6px;
          color: black;
          border-right: 3px black solid;
          border-bottom: 3px black solid;
          border-radius: 25%;
          padding-right: 2px;
          text-decoration: none;
        }
      }
}

/* Static Design 2 */

.static2 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-2 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background.png);
    border-top: 3px rgb(194, 194, 194) solid;
    border-bottom: 3px rgb(194, 194, 194) solid;

    & > .logos {
        & > img.slime-logo {
            margin-left: 5vw;
            height: 50px;
        }
    
        & > img.mastery {
            justify-content: center;
            margin-top: 6px;
            height: 40px;
        }
    }

    & > nav.statnav2 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;
    
        & > a {
          font-weight: 600;
          font-size: 17.6px;
          color: black;
          border: 3px rgb(0, 0, 0) solid;
          border-radius: 50px;
          padding: 5px;
          text-decoration: none;
        }
      }
}

/* Static Design 3*/

.static3 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-3 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-yellow.jpg);
    border-top: 2px rgb(179, 169, 86) solid;
    border-bottom: 2px rgb(179, 169, 86) solid;

    & > img.coin-logo {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav3 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
          background-color: rgb(199, 169, 79);
          font-weight: 600;
          font-size: 17.6px;
          color: rgb(255, 255, 255);
          border-right: 3px black solid;
          border-bottom: 3px black solid;
          border-top: 1px black solid;
          border-left: 1px black solid;
          padding-left: 3px;
          padding-right: 5vw;
          text-decoration: none;
        }

        & > a.login{
            background-color: red;
            border: none;
            padding: 5px;
        }
    }
}


/* Static Design 4*/

.static4 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-4 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-grey.jpg);
    border-top: 3px rgb(160, 160, 160) solid;
    border-bottom: 3px rgb(160, 160, 160) solid;

    & > img.boots {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav4 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 2rem;

        & > a {
          font-weight: 400;
          font-size: 17.6px;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }

        & > .search {
            border: 2px black solid;
            border-radius: 10px;
            padding-top: 1px;
            padding-bottom: 1px;

            & > a.search-bar {
                padding-left: 1vw;
                padding-right: 4vw;
                font-size: 15px;
            }

            & > img {
                height: 15px;
                padding-right: 5px;
                margin-top: 1px;
            }
        }
    }
}


/* Static Design 5*/

.static5 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-5 {
    width: 100vw;
    height: 50px;
    display: flex;
    background-color: rgb(228, 197, 158);
    border-top: 3px rgb(177, 152, 122) solid;
    border-bottom: 3px rgb(177, 152, 122) solid;
    position: relative;

    & > nav.statnav5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .social-medias {
            display: flex;
            margin-left: 1vw;
            & > img {
                filter: invert(0.5);
                margin-left: 7px;
                margin-right: 7px;
                height: 25px;
            }
        }

        & > .middle-nav {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            flex-grow: 1;
            justify-content: center;

            & > div {
                border: 3px rgb(70, 60, 47) solid;
                background-color: rgb(175, 130, 96);
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 10px;
                padding-right: 10px;

                & > img {
                    height: 15px;
                }

                & > a {
                    font-weight: 400;
                    font-size: 17.6px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }

        & > .search {
            border: 4px rgb(70, 60, 47) solid;
            background-color: rgb(175, 130, 96);
            padding: 5px;
            height: 25px;
            margin-right: 1vw;
        }
    }
}
