* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.title {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    & > h1 {
        font-size: 40px;
    }

    & > a {
        color: aliceblue;
        background-color: rgb(61, 136, 80);
        border-radius: 15%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

/* Static Design 1*/

.static1 {
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-1 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg,rgb(245, 196, 106),rgb(190, 167, 123));
    border-top: 3px rgb(175, 129, 43) solid;
    border-bottom: 3px rgb(175, 129, 43) solid;

    & > img.carrot-logo {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav1 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
            font-family: 'Comic Neue', sans-serif;
            font-weight: 600;
            font-size: 19.6px;
            color: black;
            border-right: 3px black solid;
            border-bottom: 3px black solid;
            border-radius: 25%;
            padding-right: 2px;
            text-decoration: none;
        }
      }
}

/* Static Design 2 */

.static2 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-2 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Background.png);
    border-top: 3px rgb(194, 194, 194) solid;
    border-bottom: 3px rgb(194, 194, 194) solid;

    & > .logos {
        & > img.slime-logo {
            margin-left: 5vw;
            height: 50px;
        }

        & > img.mastery {
            margin-top: 6px;
            height: 40px;
        }
    }

    & > nav.statnav2 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
            font-family: 'Bangers', sans-serif;
            font-weight: 600;
            font-size: 20.6px;
            color: black;
            border-radius: 8px;
            box-shadow: 2px 2px 2px 2px;
            padding: 10px;
            text-decoration: none;
        }
      }
}

/* Static Design 3*/

.static3 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-3 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-yellow.jpg);
    border-top: 2px rgb(179, 169, 86) solid;
    border-bottom: 2px rgb(179, 169, 86) solid;

    & > img.coin-logo {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav3 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > a {
          font-family: 'Gloria Hallelujah', sans-serif;
          background-color: rgb(199, 169, 79);
          font-weight: 600;
          font-size: 15.6px;
          color: rgb(255, 255, 255);
          border-right: 3px black solid;
          border-bottom: 3px black solid;
          border-top: 1px black solid;
          border-left: 1px black solid;
          padding-left: 6px;
          padding-right: 5vw;
          text-decoration: none;
        }

        & > a.login{
            font-size: 17.6px;
            font-family: 'Poppins', sans-serif;
            background-color: red;
            border: none;
            padding: 5px;
        }
    }
}


/* Static Design 4*/

.static4 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-4 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-grey.jpg);
    border-top: 3px rgb(160, 160, 160) solid;
    border-bottom: 3px rgb(160, 160, 160) solid;

    & > img.boots {
        margin-left: 8vw;
        height: 50px;
    }

    & > nav.statnav4 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 2rem;

        & > a {
          font-family: 'Permanent Marker', sans-serif;
          font-weight: 400;
          font-size: 17.6px;
          color: rgb(255, 255, 255);
          text-decoration: none;
        }

        & > .search {
            border: 2px black solid;
            border-radius: 10px;
            padding-top: 1px;
            padding-bottom: 1px;

            & > a.search-bar {
                padding-left: 1vw;
                padding-right: 4vw;
                font-size: 15px;
            }

            & > img {
                height: 15px;
                padding-right: 5px;
                margin-top: 1px;
            }
        }
    }
}


/* Static Design 5*/

.static5 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.static-5 {
    width: 100vw;
    height: 50px;
    display: flex;
    background-image: linear-gradient(180deg, rgb(228, 197, 158), rgb(194, 164, 127));
    border-top: 3px rgb(177, 152, 122) solid;
    border-bottom: 3px rgb(177, 152, 122) solid;
    position: relative;

    & > nav.statnav5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .social-medias {
            display: flex;
            margin-left: 1vw;

            & > img {
                filter: invert(0.5);
                margin-left: 7px;
                margin-right: 7px;
                height: 25px;
            }
        }

        & > .middle-nav {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            flex-grow: 1;
            justify-content: center;

            & > div {
                border: 3px rgb(70, 60, 47) solid;
                background-color: rgb(175, 130, 96);
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 10px;
                padding-right: 10px;

                & > img {
                    height: 15px;
                }

                & > a {
                    font-family: 'Comic Neue', sans-serif;
                    font-weight: 400;
                    font-size: 17.6px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                }
            }
        }

        & > .search {
            border: 4px rgb(70, 60, 47) solid;
            background-color: rgb(175, 130, 96);
            padding: 5px;
            height: 25px;
            margin-right: 1vw;
        }
    }
}

.divider {
    margin-top: 7vh;
    margin-bottom: 5vh;
    height: 1vh;
    width: 100vw;
    background-color: black;
}


/* Dynamic Design 1*/

.dynamic1 {
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.dynamic-1 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(180deg,rgb(245, 196, 106),rgb(190, 167, 123));
    border-top: 3px rgb(175, 129, 43) solid;
    border-bottom: 3px rgb(175, 129, 43) solid;

    & > .image-anim {
        display: flex;

        & > img.carrot-logo {
            margin-left: 8vw;
            height: 50px;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: rotate(25deg);
            }

            &:active {
                transform: translate(-50px);
            }
        }

        & > p.dodge {
            display: none;
            color: aliceblue;
            margin-top: 10px;
        }

        #carrotLogo:active ~ .dodge {
            display: block;
        }
    }

    & > nav.dynamicnav1 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;
        transition: all 0.2s ease;

        & > button {
            font-family: 'Comic Neue', sans-serif;
            background-color: rgb(214, 171, 91);
            font-weight: 600;
            font-size: 19.6px;
            color: black;
            border-left: none;
            border-top: none;
            border-right: 3px black solid;
            border-bottom: 3px black solid;
            border-radius: 25%;
            padding-right: 2px;
            text-decoration: none;
            transition: transform 0.2s ease;

            &:hover {
                color: aliceblue;
                border-top: 1px black solid;
                border-left: 1px black solid;
                padding: 3px;
                transform: scale(1.3);
                cursor: pointer;
            }

            &:active {
                transform: scale(1);
            }
        }
    }
}


/* Dynamic Design 2 */

.dynamic2 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.dynamic-2 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/Background.png);
    border-top: 3px rgb(194, 194, 194) solid;
    border-bottom: 3px rgb(194, 194, 194) solid;

    & > .logos {
        & > img.slime-logo {
            margin-left: 5vw;
            height: 50px;
        }

        & > img.mastery {
            margin-top: 6px;
            height: 40px;
        }
    }

    & > nav.dynamicnav2 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > button {
            letter-spacing: 3px;
            font-family: 'Bangers', sans-serif;
            font-weight: 600;
            font-size: 20.6px;
            color: black;
            background-image: linear-gradient(180deg, rgb(187, 238, 238), rgb(159, 233, 233));
            border: none;
            border-radius: 8px;
            box-shadow: 2px 2px 2px 2px;
            padding: 7px;
            transition: transform 0.2s ease-in-out;

            &:hover {
                transform: translate(-3px, -3px);
                color: rgb(98, 100, 97);
                cursor: pointer;
            }

            &:active {
                transform: translate(-1px, -1px);
                box-shadow: none;
                background-image:
                linear-gradient(180deg,
                rgb(151, 190, 190),
                rgb(116, 170, 170));
            }
        }
    }
}

/* Dynamic Design 3*/

.dynamic3 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.dynamic-3 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-yellow.jpg);
    border-top: 2px rgb(179, 169, 86) solid;
    border-bottom: 2px rgb(179, 169, 86) solid;

    & > img.coin-logo {
        margin-left: 8vw;
        height: 50px;
        transition: all 0.3s ease;
        cursor: pointer;

        &:hover {
            transform: scale(1.1) rotate(25deg);
        }

        &:active {
            transform: rotateY(180deg);
        }
    }

    & > nav.dynamicnav3 {
        margin-right: 8vw;
        display: flex;
        align-items: center;
        gap: 1rem;

        & > button {
            font-family: 'Gloria Hallelujah', sans-serif;
            background-color: rgb(199, 169, 79);
            font-weight: 600;
            font-size: 15.6px;
            color: rgb(255, 255, 255);
            border-right: 3px black solid;
            border-bottom: 3px black solid;
            border-top: 1px black solid;
            border-left: 1px black solid;
            padding-left: 6px;
            padding-right: 5vw;
            text-decoration: none;
            position: relative;
            overflow: hidden;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
                transform: scale(1.03);
            }

            &:active {
                transform: translate(1px, 1px);
                border: none;
            }
        }

        & > button > span {
            background-color: rgb(150, 127, 58);
            height: 100%;
            width: 0;
            position: absolute;
            transition: width 0.5s;
            left: 0;
            top: 0;
            z-index: -1;
        }

        & > button {
            position: relative;
            z-index: 1;
        }

        & > button:hover > span {
            width: 100%;
            z-index: -1;
        }

        & > button.login{
            font-size: 17.6px;
            font-family: 'Poppins', sans-serif;
            background-color: red;
            border: none;
            padding: 5px;

            &:hover {
                background-color: white;
                color: black;
            }

            &:active {
                background-color: green;
            }
        }
    }
}


/* Dynamic Design 4*/

.dynamic4 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.dynamic-4 {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-image: url(../img/background-grey.jpg);
    border-top: 3px rgb(160, 160, 160) solid;
    border-bottom: 3px rgb(160, 160, 160) solid;

    & > img.boots {
        margin-left: 8vw;
        height: 50px;
        transition: all 0.4s ease;

        &:hover {
            transform: translate(25px, -3px) rotate(-25deg);
        }

        &:active {
            transform: translate(-25px, -5px) rotate(25deg);
        }
    }

    & > nav.dynamicnav4 {
        margin-right: 4vw;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & > button {
            font-family: 'Permanent Marker', sans-serif;
            height: 100%;
            width: 80px;
            font-weight: 400;
            font-size: 17.6px;
            color: rgb(0, 0, 0);
            border: none;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s ease;

            &:hover {
                color: white;
                background-color: rgb(163, 163, 163);
            }
        }

        & > .search {
            background-color: rgb(255, 255, 255);
            border: 2px black solid;
            border-radius: 10px;
            padding-top: 1px;
            padding-bottom: 3px;
            padding-left: 6px;
            margin-right: 4vw;

            & > input.search-bar {
                padding-right: 4vw;
                font-size: 15px;
                border: 0px solid;
            }

            & > img {
                height: 15px;
                padding-right: 5px;
                margin-top: 2px;
            }
        }
    }
}


/* Dynamic Design 5*/

.dynamic5 {
    margin-top: 5vh;
    margin-left: 4vw;
    width: auto;
    display: flex;

    & > p {
        margin-bottom: 1.5vh;

        & > span {
            font-weight: bold;
            margin-right: 15px;
        }
    }
}

header.dynamic-5 {
    width: 100vw;
    height: 50px;
    display: flex;
    background-image: linear-gradient(180deg, rgb(228, 197, 158), rgb(194, 164, 127));
    border-top: 3px rgb(177, 152, 122) solid;
    border-bottom: 3px rgb(177, 152, 122) solid;
    position: relative;

    & > nav.dynamicnav5 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        & > .social-medias {
            display: flex;
            margin-left: 1vw;

            & > a {
                & > img {
                    filter: invert(0.5);
                    margin-left: 7px;
                    margin-right: 7px;
                    height: 25px;
                    transition: all 0.3s ease;

                    &:hover {
                        filter: invert(1);
                    }
                }
            }
        }

        & > .middle-nav {
            display: flex;
            align-items: center;
            gap: 0.2rem;
            flex-grow: 1;
            justify-content: center;

            & > div {
                position: relative;
                border: 3px rgb(70, 60, 47) solid;
                background-color: rgb(175, 130, 96);
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 10px;
                padding-right: 10px;
                overflow: hidden;
                transition: all 0.5s ease;

                &:hover {
                    background: rgb(105, 78, 57);
                    transform: scale(1.05);
                }

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                    background: linear-gradient(90deg, transparent, #fff, transparent);
                    transition: left 0.5s;
                }

                &:hover::before {
                    left: 100%;
                }

                & > img {
                    height: 15px;
                }

                & > a {
                    font-family: 'Comic Neue', sans-serif;
                    font-weight: 400;
                    font-size: 17.6px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    letter-spacing: 2px;
                }

                &:hover > a {
                    color: white;
                }

                &:hover > img {
                    filter: invert(1);
                }
            }
        }

        & > .search {
            border: 4px rgb(70, 60, 47) solid;
            background-color: rgb(175, 130, 96);
            padding: 5px;
            height: 25px;
            margin-right: 1vw;

            &:hover {
                background: rgb(105, 78, 57);
            }
        }
    }
}

.space {
    margin-top: 7vh;
    height: 1vh;
    width: 100vw;
    background-color: black;
}